<% big_center_text "Write a Question" %>

<div class="spaced_container">
  <p>
    To improve the site, you can write with questions we should ask
    about employers.  Why work there?  Why avoid them?  Little stuff
    is better than big stuff -- do all the sysadmins watch baseball?
    Do you all geek out about Perl?  Prefer Macs to Linux boxes?
  </p>

  <p>
    In your question, write &lt;company&gt; where the employer should
    be, just like you'd write &lt;br&gt; or &lt;i&gt; in HTML.  Remember
    that sometimes it will be a description like "your
    perfect employer" or "the place you worked in 2005", not the actual
    name of a company.
  </p>

  <%= form_tag :action => :enter_post do %>

    <%= label_tag 'question[text]', "Question" %> <br/>
    <%= text_area_tag 'question[text]',
          "At <company>, what documents have to be shredded?",
          :escape => false, :rows => 5, :cols => 60 %> <br/>

    <table>
      <% (1..Question::MAX_ANSWERS).each do |n| %>
        <tr>
          <td><%= label_tag 'answers[][text]', "Answer \##{n}" %></td>
          <td><%= text_field_tag 'answers[][text]' %> </td>
        </tr>
      <% end %>
    </table>

    <%= submit_tag 'Submit', :class => :submit_button %>

  <% end %>
</div>
