<h1>Listing questions</h1>

<%= form_tag(:action => :verify_questions) do %>

  <table>
    <tr>
      <th>Type</th>
      <th>Text</th>
      <th>Answers</th>
      <th>Verified</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% questions.each do |question| %>
    <tr>
      <td><%= question.question_type %></td>
      <td><%= question.text %></td>
      <td><%= question.question_answers.count %></td>
      <td><%= check_box("question[#{question.id}]", :verified,
                        :disabled => question.verified) %></td>
      <td><%= link_to 'Show', question %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= submit_tag "Verify questions" %>

<% end %>

<br />

<%= link_to 'New Question', new_question_path %>
