<% big_center_text "Listing profiles" %>

<table>
  <tr>
    <th>Fullname</th>
    <th>Birth day</th>
    <th>Birth month</th>
    <th>Birth year</th>
    <th>Gender</th>
    <th>Time zone</th>
    <th>Address</th>
    <th>Country</th>
    <th>State</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.fullname %></td>
    <td><%= profile.birth_day %></td>
    <td><%= profile.birth_month %></td>
    <td><%= profile.birth_year %></td>
    <td><%= profile.gender %></td>
    <td><%= profile.time_zone %></td>
    <td><%= profile.address %></td>
    <td><%= profile.country %></td>
    <td><%= profile.state %></td>
    <td><%= profile.user_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
