<div class="spaced_container">

  <h1> Show Your Top Matches </h1>

  <table>
    <tr>
      <th> Employer </th>
      <th> Job Title </th>
      <th> &nbsp; &nbsp; &nbsp; Match Confidence </th>
    </tr>
    <% @matches.each do |match| %>
      <tr>
        <td> <%= link_to(match.job.employer || "Unspecified",
                         :controller => :matches, :action => :show,
                         :id => match.id) %> </td>
        <td> <%= match.job.title %> </td>
        <td class="align_right"> <%= match.match_percent %> </td>
      </tr>
    <% end %>
  </table>

  <%= button_to("Recalculate Your Matches", {:controller => :profiles,
                :action => :recalculate_matches}, :class => :submit_button) %>
  <%= button_to("Clear Your Matches", {:controller => :profiles,
                :action => :recalculate_matches}, :class => :submit_button) %>
</div>
