<div class="spaced_container">
  <h2 class="very_inset"> Tell Us Some Places You've Worked </h2>

  <!-- Invisible sample job description to use as a template -->
  <div id="job_line_1" class="sample_job_line nodisplay">
    <table style="border: 1px solid black; margin: 3px;">
      <tr>
        <td> <label for="job_employer]">Employer:</label> </td>
        <td>
          <input id="job_employer" name="job[][employer]" type="text" />
        </td>
        <td> <label for="job_start_date">Start Date:</label> </td>
        <td>
          <%= date_select("job[]", "start_date",
                          :start_year => Time.now.year - 20,
                          :end_year => Time.now.year, :order => [:month, :year],
                          :include_blank => true) %>
        </td>
      </tr>
      <tr>
        <td> <label for="job_title">Job Title:</label> </td>
        <td>
          <input id="job_title" name="job[][title]" type="text" />
        </td>
        <td> <label for="job_end_date">End Date:</label> </td>
        <td>
          <%= date_select("job[]", "end_date",
                          :start_year => Time.now.year - 20,
                          :end_year => Time.now.year, :order => [:month, :year],
                          :include_blank => true) %>
        </td>
      </tr>
    </table>
  </div>

  <%= form_tag({:controller => :jobs, :action => :enter_post}) do %>
    <div id="tell_us_form">

    </div>

    <%= submit_tag "And then answer some questions", :class => "very_inset" %>
  <% end %>

  <%= javascript_tag do %>
  var last_job_line = 0;

  function add_new_job_line() {
    var new_line = $(".sample_job_line").clone();
    new_line.appendTo($("#tell_us_form"));
    new_line.addClass("job_line");
    new_line.removeClass("sample_job_line nodisplay");

    last_job_line++;

    new_line.attr("id", "job_line_" + last_job_line);
  }

  $(".job_line").live("change", function() {
    if($(this).attr("id") == "job_line_" + last_job_line) {
      /* Just changed the final job line */
      add_new_job_line();
    }
  });

  $(function() {
    add_new_job_line();
  });
  <% end %>
</div>
