<p>
  Company Name: <%= @work_site.company_name %>
</p>

<p>
  Company: <%= @work_site.company_id ?
               link_to(@work_site.company.company_name,
                       :controller => :companies, :action => :show,
                         :id => @work_site.company_id) :
               "--" %>
</p>

<p>
  Search Code: <%= @work_site.search_code %> <br/>
</p>

<p>
  Verified: <%= @work_site.verified %>
</p>

<p>
  Description: <%= @work_site.description %>
</p>

<p>
  Address: <%= @work_site.address %>
</p>

<%= link_to 'Edit', edit_work_site_path(@work_site) %> |
<%= link_to 'Back', work_sites_path %>

<% unless @work_site.company_id %>

  <hr/>

  <p>
    Companies with similar names:
  </p>

  <%= form_tag do %>
     <%= select_tag("company",
          options_from_collection_for_select(@companies, :id, :company_name)) %>

     <%= submit_tag "Merge with Company" %>
  <% end %>

  <hr/>

  <%= form_tag(:action => :companify, :id => @work_site.id) do %>
    <%= submit_tag "Turn into Separate Company" %>
  <% end %>
<% end %>
