<% title "Get Started" %>

<h1>Tell Me the Basics</h1>

<p>
  First, I need to know enough about you that I can add you to
  the site, and so I can recognize you later to give you your
  results.
</p>

<%= form_for(@profile) do |f| %>

  <%= f.label(:fullname, "Full Name") %>
  <%= f.text_field :fullname %>

  <%= f.label(:email, "Email") %>
  <%= f.text_field :email %>

  <p>
  </p>

  <div class="very_inset">
    <%= submit_tag "Now Tell Me About Your Jobs" %>
  </div>

<% end %>
