<div class="menu_bar">
  <% if @big_logo %>
    <%= render :partial => "home/biglogo" %>
  <% else %>
    <%= render :partial => "home/smalllogo" %>
  <% end %>

  <div class="floatright">
    <%= link_to("About WMJ", "/about") %> &nbsp; &nbsp;
    <%= link_to("Privacy", "/privacy") %> &nbsp; &nbsp;

    <% if current_user %>
      Logged in as <%= current_user.login %>.
      <%= link_to("Log out?", destroy_user_session_path) %> or
      <%= link_to("Edit account", edit_user_registration_path) %>
    <% else %>
      <%= link_to("Log in", new_user_session_path) %> or
      <%= link_to("join!", new_user_registration_path) %>
    <% end %>
  </div>
</div>
