<div class="menu_bar">
  <% if @big_logo %>
    <%= render :partial => "home/biglogo" %>
  <% else %>
    <%= render :partial => "home/smalllogo" %>
  <% end %>

  <% if current_user %>
    &nbsp; &nbsp; &nbsp;
    <%= link_to(content_tag('div', 'Answer',
                            :class => 'improve_button shadow'),
                {:controller => :home, :action => :portal},
                :title => "Improve your recommendations!") %>
    <%= link_to(content_tag('div', 'See Jobs',
                            :class => 'suggest_button shadow'),
                {:controller => :home, :action => :suggest},
                :title => "Suggest matching jobs!") %>
  <% end %>

  <div class="floatright">
    <%= link_to("About WMJ", "/about") %> &nbsp; &nbsp;
    <%= link_to("Privacy", "/privacy") %> &nbsp; &nbsp;
  </div>
</div>

<div class="clear">
