<% title "WantMyJob Alpha" %>

<%= render :partial => "home/hn_nov_links" %>

<div class="spaced_container">
  <h1> The Right Tech Job.  Now. </h1>

  <div class="info_block">
    <span class="emphatic">Answer simple questions</span>
    for us about you and the high-tech jobs you've held.
    <span class="emphatic">We recommend jobs for you</span> from
    our database.
    The more you answer, the better our recommendations get.
    <span class="emphatic">Free to use.  Always</span>.
  </div>

  <div class="center_div">
    <div class="call_to_action shadow">
     <%= link_to("Start Now!", new_user_registration_path) %>
    </div>
    <br/> &nbsp; &nbsp; &nbsp;
    (or <%= link_to("log in", new_user_session_path) %>)
  </div>

  <div class="info_block secondary">
    (Is your company hiring?  Answer questions about them and
     we'll send good matches their way, automatically.)
  </div>

  <div class="info_block">
    <span class="emphatic">Some jobs we know about:</span>

    <% @jobs.each do |job| %>
      <div class="company inset">
        <span class="primary"><%= job.employer %></span>
          <span class="secondary"><%= job.title %></span>
      </div>
    <% end %>
  </div>
</div>
