<% title "Jobs in Computer Programming" %>
<% big_center_text "The Right Job.  Now." %>

<h2> Get Started </h2>

  <p>
    <span class="emphatic">Answer simple questions</span>
    for us about your tech jobs.
    <span class="emphatic">We recommend jobs</span> from
    our database.
    Answer more, get better recommendations.
    <span class="emphatic">Free to use.  Always</span>.
  </p>

  <div class="cleaner_h20"></div>

  <div class="button float_l">
    <%= link_to("Start Now!", new_user_registration_path) %>
  </div>
  <div class="float_l"> &nbsp; &nbsp; or &nbsp; &nbsp; </div>
  <div class="button float_l">
    <%= link_to("Log In", new_user_session_path) %>
  </div>

  <div class="cleaner_h20"></div>

  <p class="secondary">
    Is your company hiring?  Answer questions about them and
    we'll send good matches their way, automatically.
  </p>

  <div class="cleaner_h20"></div>

  <div>
    <span class="emphatic">Some jobs we know about:</span>

    <% @jobs.each do |job| %>
      <div class="company inset">
        <span class="primary"><%= job.employer %></span>
          <span class="secondary"><%= job.title %></span>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => "home/hn_nov_links" %>
