<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Apply email:</b>
  <%= @company.apply_email %>
</p>

<p>
  <b>Verified:</b>
  <%= @company.verified %>
</p>

<p>
  <b>Search Code:</b>
  <%= @company.search_code %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
