<!DOCTYPE html>
<html>
<head>
  <title>WMJ: <%= @title ? @title : "Find Your Job" %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn&subset=latin' rel='stylesheet' type='text/css'%>
</head>
<body>

<%= render :partial => "home/menubar" %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash_#{name}" %>
<% end %>

<div class="floatright logged_in_as">
  <% if current_user %>
    Logged in as <%= current_user.login %> <br/>
    <%= link_to("Log out", destroy_user_session_path) %> or
    <%= link_to("Edit account", edit_user_registration_path) %>
  <% else %>
    <%= link_to("Log in", new_user_session_path) %> or
    <%= link_to("join!", new_user_registration_path) %>
  <% end %>
</div>

<div class="clear">

<p class="secondary global_disclaimer">
  WantMyJob Alpha is new with rough edges.  Visit
  often and watch our progress!  Suggestions to noah_gibbs
  at yahoo.com.  Thanks!
</p>

<div class="top_container">
  <%= yield %>
</div>

<!-- Google Analytics hook -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8592765-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
