<!DOCTYPE html>
<html>
<head>
  <title>WMJ: <%= @title ? @title : "Find Your Job" %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn&subset=latin' rel='stylesheet' type='text/css'%>
</head>
<body>

<%= render :partial => "home/menubar" %>

<p class="secondary">
  WantMyJob Alpha is only barely useful right now.  But feel free to look
  around, so you'll be in the first group to get good recommendations!
</p>

<div class="top_container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

<!-- Google Analytics hook -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8592765-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
