<!DOCTYPE html>
<html>
<head>
  <title>WMJ: <%= @title ? @title : "Find Your Job" %> </title>
  <meta name="keywords" content="<%= @keywords ? @keywords.join(",") : ""%>" />
  <meta name="description" content="<%= @description || "Searching for a computer programming or high-tech job" %>" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text&subset=latin' rel='stylesheet' type='text/css'%>
  <link href='http://fonts.googleapis.com/css?family=Cantarell&subset=latin' rel='stylesheet' type='text/css'%>
  <link rel="shortcut icon" href="http://wantmyjob.com/favicon.ico" mce_href="http://wantmyjob.com/favicon.ico" />
</head>
<body>

<div class="wmj_wrapper">
  <div class="wmj_header">
    <div class="site_title">
      <h1><a href="http://wantmyjob.com" target="_parent">
        <strong>Want My Job?</strong>
        <span>The Right Tech Job.  Now.</span>
      </a></h1>
    </div>

    <div class="float_r">
      WantMyJob Alpha hosts articles about getting a job<br/> as a computer
      programmer.  Some of it will help other techies, too.
    </div>
  </div>

  <div class="wmj_menu">
    <ul>
      <% if current_user %>
        <li><%= link_to("Answer",
                        :controller => "/home", :action => :portal) %></li>
        <li><%= link_to("Match",
                  :controller => "/profiles", :action => :show_matches) %></li>
        <li><%= link_to("Profile",
                        :controller => "/profiles", :action => :me) %></a></li>
      <% else %>
        <li><%= link_to("Find a Job", "/") %></li>
      <% end %>
      <% if current_user && current_user.admin? %>
        <li><a href="/admin/console">Admin</a></li>
      <% end %>
    </ul>
  </div>

  <div class="wmj_content_wrapper">
    <% if @big_center_text %>
      <div class="wmj_content_header">
        <h1> <%= @big_center_text %> </h1>
      </div>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>

    <div class="logged_in_as">
      <% if current_user %>
        <%= link_to(current_user.login,
                    :controller => :profiles, :action => :me) %>
        <%= link_to("(log out)", destroy_user_session_path) %>
      <% else %>
        <%= link_to("Log in", new_user_session_path) %> or
        <%= link_to("join", new_user_registration_path) %>
      <% end %>
    </div>

    <div class="wmj_content">

      <%= yield %>

    </div>

    <div class="cleaner_h10">

    <div class="wmj_footer">
      Copyright &copy; 2010 <a href="http://blog.angelbob.com">Noah Gibbs</a> |
      Designed by <a href="http://www.templatemo.com">CSS Templates</a> <br />
      <%= link_to("About WMJ", "/about") %> |
      <%= link_to("Privacy", "/privacy") %>
    </div>
  </div>
</div>

<!-- Google Analytics hook -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8592765-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
